
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive">
                <div class="row page_top_bar">
                    <div class="col-12">
                        <div class="col-6 heading float-left">
                            <h4 class="mt-0 header-title"><%= title %></h4>
                        </div>
                        <div class="col-6 btns float-left text-right">
                            <a class="btn btn-primary" href="/admin/<%= module_slug %>/add">Add New</a>
                        </div>
                    </div>
                </div>
                

                <table id="responsive-datatable" class="table table-bordered table-bordered dt-responsive nowrap">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>


                    <tbody>
                    <% let serialNumber = 1; %>
                    <% blogs[0].forEach(function(blog) { %>
                        <tr>
                            <td><%= serialNumber++ %></td>
                            <td><%= blog.title %></td>
                            <td><%= blog.slug %></td>
                            <td class="status_box">
                                <%  if(blog.status == 1){ %>
                                  <span class="btn btn-success rounded-pill waves-effect waves-light">Active</span>
                               <% }else{ %> 
                                <span class="btn btn-danger rounded-pill waves-effect waves-light">Inactive</span>
                                <% } %>
                               <!-- <div class="switchery-toggle">
                                    <input type="checkbox" id="switchd" class="toogle_checkbox" value="0" /><label for="switch">Status</label>
                                </div>-->
                            </td>
                            <td class="action_box"><a href="/admin/<%= module_slug %>/<%= blog.id %>"><i class="fe-eye"></i></a> <a href="/admin/<%= module_slug %>/edit/<%= blog.id %>"><i class="fe-edit"></i></a>  <a href="/admin/<%= module_slug %>/delete/<%= blog.id %>"><i class="fe-trash-2"></i></a></td>
                        </tr>
                    <% }); %> 
                    
                    
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>
</div> <!-- end row -->

        

